body {
    margin:0;
    padding:0;
    height:100%;
 }

.header {
    ;
}

.pagelinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: 
    font-size: 40px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}